<tr>
  <td class="col-sm-8 col-md-6">
    <div class="media">
      <%= link_to image_tag(product.product_images[0].picture.url,
        size: "100x100", alt: product.name, class: "media-object"),
        product.product_images[0].picture.url, class: "thumbnail pull-left" %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to product.name, category_product_path(
            category_id: product.category_id, id: product.id) %>
        </h4>
        <h5 class="media-heading">
            <strong><%= link_to product.category.name, product.category %></strong>
        </h5>
      </div>
    </div>
  </td>
  <td class="col-sm-1 col-md-1" style="text-align: center">
    <%= form_with url: cart_path(id: product.id), method: :put, local: true do |f| %>
      <%= f.number_field :quantily, value: current_carts["#{product.id}"],
        max: product.quantily, min: Settings.min_quantily, class: "form-control" %>
  </td>
  <td class="col-sm-1 col-md-1 text-center">
    <strong><%= number_to_currency product.price, locale: :en %></strong>
  </td>
  <td class="col-sm-1 col-md-1 text-center">
    <strong><%= total_price_product product.id %></strong>
  </td>
  <td class="col-sm-1 col-md-1">
      <%= f.button type: :submit, class: "btn btn-info" do %>
        <% content_tag(:span, nil, class: "glyphicon glyphicon-refresh") %>
      <% end %>
    <% end %>
    <p></p>
      <%= link_to cart_path(id: product.id), method: :delete,
        data: {confirm: t(".confirm_delete")} do %>
        <button type="button" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      <% end %>
  </td>
</tr>
