<%= provide :title, @category.name %>

<div class="row">
  <div class="col-md-3">
    <%= render "shared/menu" %>
  </div>

  <div class="col-md-9">
    <div class="product-items">
      <% if @products.any? %>
        <p class="cate_title">
          <%= t ".products_text" %>
        </p>

        <div class="products">
          <%= render @products %>
        </div>
      <%= will_paginate @products %>
      <% end %>
    </div>
  </div>
</div>
