<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".nav_logo"), root_path, id: t(".logo_text") %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if I18n.locale == :vi %>
          <li>
            <%= link_to t(".en_locale"), locale: "en" %>
          </li>
        <% elsif I18n.locale == :en %>
          <li>
            <%= link_to t(".vi_locale"), locale: "vi" %>
          </li>
        <% end %>

        <li><%= link_to t(".nav_home"), root_path %></li>
        <li><%= link_to t(".nav_help"), help_path %></li>

        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".nav_account" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".nav_orders"), orders_path %></li>
              <li><%= link_to t(".nav_profile"), current_user %></li>
              <li><%= link_to t(".nav_settings"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".nav_logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".nav_signup"), signup_path %></li>
          <li><%= link_to t(".nav_login"), login_path %></li>
        <% end %>
        <li>
          <%= link_to carts_path do %>
            <%= content_tag :span, class: "glyphicon glyphicon-shopping-cart" do %>
              <%= content_tag :span, count_carts, id: "cart_qty", class: "badge" %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
